
<div class="row">
<div class="col-xs-12 col-md-offset-1 col-md-10">
<div class="panel panel-default">
  <div class="panel-body">
   <strong>I develop strong emotions toward people I can rely on</strong>
</div>
</div>
<div id="resultmap_q1" style="position: relative; width: 750px; height: 500px;"></div>
</div> <!-- col -->
</div> <!-- row -->

<div class="row">
<div class="col-xs-12 col-md-offset-1 col-md-10">
<div class="panel panel-default">
  <div class="panel-body">
    <strong>Parents should empower children as much as possible so that they may follow their dreams</strong>
</div>
</div>
<div id="resultmap_q2" style="position: relative; width: 750px; height: 500px;"></div>
</div> <!-- col -->
</div> <!-- row -->

<div class="row">
<div class="col-xs-12 col-md-offset-1 col-md-10">
<div class="panel panel-default">
  <div class="panel-body">
   <strong>Moral standards should be seen as individualistic what one person considers to be moral may be judged as immoral by another person</strong>
</div>
</div>
<div id="resultmap_q3" style="position: relative; width: 750px; height: 500px;"></div>
</div> <!-- col -->
</div> <!-- row -->


