
<p>
Below are results from the Duke morality survey, plus additional data 
as filled out by our site viewers. They indicate that morality does differ
somewhat by region.
</p>
<br/>

<div class="row">
<div class="col-xs-12 col-md-offset-1 col-md-10">
<div class="panel panel-default">
  <div class="panel-heading">	
	<h3 class="panel-title">I develop strong emotions toward people I can rely on</h3>
  </div>
  <div class="panel-body">
<div id="resultmap_q1" style="position: relative; width: 750px; height: 500px;"></div>
</div>
</div>
</div> <!-- col -->
</div> <!-- row -->

<div class="row">
<div class="col-xs-12 col-md-offset-1 col-md-10">
<div class="panel panel-default">
  <div class="panel-heading">	
    <h3 class="panel-title">Parents should empower children as much as possible so that they may follow their dreams</h3>
  </div>
  <div class="panel-body">
<div id="resultmap_q2" style="position: relative; width: 750px; height: 500px;"></div>
</div>
</div>
</div> <!-- col -->
</div> <!-- row -->

<div class="row">
<div class="col-xs-12 col-md-offset-1 col-md-10">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Moral standards should be seen as individualistic what one person considers to be moral may be judged as immoral by another person</h3>
  </div>
  <div class="panel-body">
<div id="resultmap_q3" style="position: relative; width: 750px; height: 500px;"></div>
</div>
</div>
</div> <!-- col -->
</div> <!-- row -->


